{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/semi": [
      "error",
      "never",
      {
        "beforeStatementContinuationChars": "always"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": [
      "error",
      {
        "allowHigherOrderFunctions": true
      }
    ]
  },
  "ignorePatterns": [
    "**/*.json",
    "**/*.mock.*",
    "**/vendor/*.js"
  ]
}