{
    "printWidth": 84,
    "tabWidth": 2,
    "singleQuote": true,
    "bracketSpacing": "false",
    "trailingComma": "all",
    "proseWrap": "preserve",
    "semi": false,
    "arrowParens": "avoid"
}